<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <html>
    <body>

        <form method="post" action="/">
                <div class="f">
                    <input type="submit" value="movef" name="movef"/><br>
                </div>
                <div class="l">
                <input type="submit" value="movel" name="movel" /><br>
                </div>
                <div class="r">
                <input type="submit" value="mover" name="mover" /><br>
                </div>

        </form>
    </body>
    </html>
    <style>
        .f {
            text-align: center;
        }
        .l {
            text-align: center;
        }
        .r {
            text-align: center;
        }
    </style>

    
</body>
</html>
